*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://academy.digitalcollege.com.br/login/images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Poppins, sans-serif;
}

.login-container{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: flex;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position: relative; 
}

.login-academy{
    flex: 1; /*preenche a div com o elemento*/
    padding: 40px 80px;
}

.logo-big{
    width: 100%;
    display: block;
}

.login-academy h4{
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-size: 18px;
}

h4{
    display: block;
}

.login-academy p{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}

p{
    display: block;
}

.login-academy form{
    width: 100%;
    text-align: center;
}

form{
    display: block;
}

.login-academy form input, button{
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    border: 1px solid #ddd;
    border-radius: 24px;
    box-sizing: border-box;
}

.login-remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#remember-me{
    width: 20px;
    height: 20px;
    border: 2px solid #BF0067;
    border-radius: 50%;
}


button{
    background-color: #BF0067;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 24px;
    transition: background-color 0.3s ease;    
}

